<h2>Registro</h2>
<hr>
<form action="/api/sessions/registro" method="POST">
    <input type="text" name="nombre" placeholder="nombre">
    <input type="text" name="apellido" placeholder="apellido">
    <input type="email" name="email" placeholder="correo electronico">
    <input type="number" name="edad" placeholder="edad">
    <input type="password" name="password" placeholder="contraseña">
    <br><br>
    <input type="submit" value="Registrar">
</form>